.project-details {
    color: white;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.project-details-viewd>* {
    color: var(--viewd-clr);
}
