.project-fontsize {
    font-size: min(3vw, 80px);
}

.buttons {
    display: flex;
    gap: 5px;
}

.buttons .button a {
    text-decoration: none;
}

.button {
    border-radius: 20px;
    border-style: none;
    flex-grow: 1;
    padding: 0.568em;
}

.button a {
    color: rgb(255, 255, 255);
}

.prev-button, .next-button, .close-button, .button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.disable-button {
    opacity: 0.6;
}

.project-view-fontsize {
    font-size: min(3vw, 16px);
}

.project-view-button-enabled {
    display: block;
}

.project-view-button-disabled {
    display: none;
}

.prev-button, .next-button, .close-button {
    border-style: none;
    font-size: min(4vw, 30px);
    padding: 7px;
}

@media all and (min-width:800px) {
    .project-fontsize {
        font-size: clamp(15px, 1.64vw, 20px);
    }
}
