button {
    all: unset;
}

.buttons {
    align-items: center;
    display: flex;
    font-size: min(3.7vw, 14px);
    gap: 0.5em;
    justify-content: space-between;
    padding: 1.5em 0;
}

.button {
    background-color: #151318;
    border-radius: 20px;
    border-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: fit-content;
    padding: 0.868em 1em;
    text-align: center;
}

.button a {
    text-decoration: none;
}

.button:hover {
    background-color: #2626269f;
}

.disable-button {
    opacity: 0.5;
    pointer-events: none
}

/* tablet */
@media all and (min-width:500px) {
    .buttons {
        font-size: min(1.72vw, 14px);
    }
}

/* desktop */
@media all and (min-width:950px) {
    .buttons {
        font-size: min(1.21vw, 14px);
    }
}
