
#projects-container {
    display: grid;
    place-items: center;
    padding: 0 6%;
}

.project-img-container {
    margin-bottom: 20px;
}


.project-img-container {
    margin-bottom: 20px;
}


.viewd {
    border: solid purple 3px;
    position: relative;
    z-index: 0;
}

.viewd::before {
    content: 'viewd';
    font-size: min(4vw, 20px);
    color: purple;
    position: absolute;
    top: -30px;
    left: 0;
}

.not-viewd{
    border: none;
}

#project,
#project figure,
.project-img-container, .project-img {
    width: 100%;
}



.project-img {
    display: block;
    cursor: pointer;
}

#project {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media all and (min-width:800px) {
    #project-container {
        padding: 0 10%;
    }

    #project {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6%;
    }

    #project figure {
        width: 47%;
    }
}
