/* MOBLE SCREEN */
#navigation {
    font-family: 'EB Garamond', serif;
    font-size: 25.6348px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#full-name {
    padding: 54px 0;
}

.first-name {
    font-weight: 700;
}

.contacts {
    display: none;
}

.navigation-list {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 25.6348px;

    display: flex;
    gap: 34px;
    justify-content: center;
}

/* DESKTOP AND TABLET SCREEN */
@media all and (min-width:645px) {

    #full-name {
        padding: 50px 0 0 50px;
        padding-bottom: min(13vw, 110px);
        align-self: start;
    }

    .contacts {
        display: block;
    }
    #navigation {
        margin-bottom: 200px;
    }

    .navigation-list, #full-name  {
        font-size: clamp(25.6348px, 4vw, 35.84px);
    }

    .navigation-list {
        gap: 38px;
    }
}
