/* MOBLE*/
#navigation {
    font-family: 'Times New Roman';
    font-size: min(7.2vw, 25.6348px);
    border-bottom: solid 5.5px rgb(0, 0, 0);

    padding: min(10vw, 2em) 0;
    margin-bottom: min(15vw, 110px);
    display: flex;
    justify-content: center;
}

.contacts {
    display: none;
}

.navigation-list li a {
    color: rgb(255, 255, 255);
}

.navigation-list {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    display: flex;
    justify-content: center;
    gap: 18%;
}

/* DESKTOP*/
@media all and (min-width:1242px) {

    /* small tweak */
    #navigation {
        margin-bottom: clamp(100px, 17.5vw, 200px);
    }
}

/* DESKTOP AND TABLET */
@media all and (min-width:695px) {
    .navigation-list {
        font-size: clamp(1em, 3.8vw, 35.93px);
    }

    .contacts {
        display: block;
    }
}
