/* MOBLE*/
#navigation {
    /* border-bottom: solid 2.5px rgb(0, 0, 0); */
    display: flex;
    font-size: min(7.2vw, 20px);
    justify-content: center;
    margin-bottom: clamp(50px,15vw, 110px);
    padding: min(10vw, 2em);
}

.navigation-list li a {
    color: rgb(255, 255, 255);
}

.navigation-list li a:hover {
    opacity: 0.8;
}

.navigation-list {
    display: flex;
    font-size: min( 5vw, 35.93px);
    font-style: normal;
    font-weight: 700;
    gap: 18%;
    justify-content: center;
    list-style: none;
}
