/* MOBLE SCREEN */
#about-page {
    font-size: min(7vw, 48px);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-details hr {
    display: none;
}

#about-details {
    display: flex;
    flex-direction: column;
}

#about h2, #contacts h2, #skills h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1em;
    padding-bottom: 1.4em;
}

#about h2 {
    color: rgb(255, 255, 255);
    display: inline-block;
}

#contacts {
    padding: 1.8em 0
}

#contacts ul {
    list-style: none;
    gap: 20px;
}

#about p, #contacts ul, #skills ul {
    display: flex;
    flex-direction: column;
    font-size: 0.798em;
}

#contacts ul {
    font-size: 0.77em;
}

#contacts ul li {
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    gap: 25px;
}

#contacts ul li :nth-child(2) {
    font-size: 0.7em;
    font-family: 'Poppins', sans-serif;
}

#skills h2, #contacts h2, #contacts ul li :nth-child(2) {
    color: rgb(255, 255, 255);
    letter-spacing: 0.04em;
}

#skills {
    width: 100%;
    padding-bottom: 1.8em;
}

#skill-lists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%
}

#skill-lists-container hr:nth-child(3n-2) {
    display: none;
}

#skills ul {
    list-style: none;
    list-style-position: inside;
    gap: 7.5px;
}

/* DESKTOP AND TABLET SCREEN */
@media all and (min-width:1242px) {
    #about-page {
        padding: 0;
        justify-content: center;
    }

    #about-details, #skills {
        width: 74.75%;
    }

    #about-details {
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }

    #about-details hr {
        display: block;
    }

    #about-description {
        height: 400px;
        overflow: auto;
    }

    #contacts {
        padding: 0;
    }

    #skills {
        padding-top: 1.8em;
    }
}

@media all and (min-width:1242px) and (max-width:1274px) {
    #about-details, #skills {
        /* small tweak */
        width: 76.666%;
    }
}

@media all and (min-width:750px) {

    /* small tweak */
    #skill-lists-container hr:nth-child(3n-2) {
        display: block;
    }
}
