body.disable-scrollbar::-webkit-scrollbar {
    display: none;
}

.project-view-err-msg {
    color: black;
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -30%);
    font-size: 30px;
}

#project-view {
    background: white;
    height: 91.5vh;
    inset: 0;
    overflow: scroll;
    position: fixed;
    z-index: 10;
}

#project-view iframe {
    height: 91.5vh;
    width: 100%;
}

#project-details {
    background: var(--bg-clr);
    height: fit-content;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -30%);
    width: clamp(250px, 40%, 500px);
    z-index: 11;
}

#close-project-Details-button {
    background: var(--bg-clr);
    border-style: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    inset: 5px 5px auto auto;
    padding: 0 5px;
    position: absolute;
    z-index: 12;
}

#project-view-buttons-container {
    background: var(--bg-clr);
    display: flex;
    gap: 10px;
    height: 8.5vh;
    inset: auto 0 0 0;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    z-index: 11;
}

#info-icon, #project-details {
    display: none;
}

#info-icon {
    cursor: pointer;
    width: 35px;
}

@media all and (min-width:500px) {
    #info-icon, #project-details {
        display: block;
    }
}
