#footer {
    font-size: .7rem;
    font-weight:500; 
    margin-top: 8.3em;
}
/* #footer hr {
    border: solid 1px black;
} */

#footer a {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#footer-info {
    margin: 1.5em 0;
    margin-left: 3em;
    width: max-content;
}

@media all and (min-width:830px) {

    #footer {
        margin-top: 17.3em;
    }
}

