/* MOBLE SCREEN */
#about-page{
    font-size: min(7vw, 44.93px);
    padding: 0 10%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#about-details {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

#about h2, #contacts h2, #skills h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    /* padding-bottom: 70px; */
    padding-bottom: 1.9em;
}

#contacts ul {
    list-style: none;
    gap: 20px;
}

#contacts ul li{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    gap: 20px;
}

#about p, #contacts ul, #skills ul {
    display: flex;
    flex-direction: column;
    /* font-size: 35.839px; */
    font-size: 0.798em;
}

#contacts ul li :nth-child(2){
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(18, 53, 253);
}

#skills {
    margin-top: 70px;
    width: 100%;
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10%
}

#skills ul{
    list-style: none;
    list-style-position: inside;
    gap: 15px;
}

/* DESKTOP AND TABLET SCREEN */
@media all and (min-width:1242px) {
    #about-page{
        padding: 0;
    }
   
    #about-details {
        width: 70%;
        flex-direction: row;
        justify-content: center;
        gap: 11%;
    }

    #skills {
        width: 70%;
    }
}
